.t-wrapper{
    padding: 0 3rem;
    height: 120vh;
    display: flex;
    justify-content: center;
    align-items: center;
    margin-top: 7rem;
    flex-direction: column;
    gap: 2rem;
    position: relative;
}

.t-heading{
    align-self:start;
}
.t-heading>*{
    font-size: 2rem;
    font-weight: bold;
}
.t-heading span:nth-of-type(2){
    color: var(--orange);
  
}
.t-blur1{
    left: 38rem;
    top: 16rem;

}
.t-blur2{
    left: 0;
    top: 9rem;

}
.testimonial{
    width: 30rem;
    height: 12rem;
    display: flex;
    justify-content: space-evenly;
    align-items: center;
    flex-direction: column;
    padding: 2rem;
    /* styles same as work.css */
    /* background-color: rgba(0, 0, 0, 0.26); */
    background-color: var(--orange);
    border: 7px solid var(--blueCard);
    box-shadow: var(--boxShadow);
    border-radius: 20px;

}
.testimonial>img{
    width: 6rem;
    height: 6rem;
    border-radius: 100%;
}
.testimonial>h1{
  color: black;
  font-size: 1.8rem;
}
.testimonial>span{
  color: white;
  font-size: 1.3rem;
  text-align: center;
}

/* slider */
.t-wrapper .swiper{
    width: 100%;
    height: 70%;

}
.t-wrapper .swiper-slide{
    display: flex;
    justify-content: center;
    align-items: center;

}
.t-wrapper .swiper-pagination-bullet-active{
background-color: var(--orange);
}


@media screen and (max-width:480px) {
    .t-wrapper{
        padding: 0;
    }
    /* .testimonial>img{
        width: 70px;
        height: 70px;
    } */
}
